html {
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background: #EEF9BF;
}

main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    max-width: 910px;
    width: 90%;

}

h1 {
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;

}

.clock {
    /* width: fit-content; */
    height: 40px;
    color: red;
    position: relative;
    top: 15px;
    right: calc(-50vw + 100px);
    font-size: 36px;

}

button {
    margin-top: 200px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #75B79E;
    color: #fff;
    font-size: 22px;
    border-radius: 16px;
    cursor: pointer;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    /* margin-right: 34px; */
    margin-bottom: 34px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}



.face img {
    width: 100px;
}

.back-face {
    transform: rotateY(180deg);
}

.back-face-turn,
.match-back {
    transform: rotateY(0deg);
} 

.front-face-turn,
.match-front {
    transform: rotateY(-180deg);
} 

.match-back,
.match-front {
    border: 4px solid #0f0;
}

.block-clicks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
}




.no-display {
    display: none;
}